/* .App{
  overflow-y: scroll;
} */
.App-header {
  background-color: #aef0bc;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 3%;
}

@media screen and (max-width: 750px){
 .card-wrapper{
  display:flex;
 }
}

